<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/estilos.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6d1bb79e6d.js" crossorigin="anonymous"></script>

    <title>Mercado Liebre</title>
</head>

<body>
    <header class="main-header">
        <div class="primera-barra">
            <div class="nav-logo">
                <img src="/images/logo-mercado-liebre.svg" alt="" id="img-logo">
            </div>
            <div class="nav-barra">
                <form action="#">
                    <div class="barra-busq">
                        <input type="text" name="barra-busq" id="barra-busq" placeholder="Buscar productos">
                        <button type="submit"> <i class="fa-solid fa-magnifying-glass"></i></i></button>
                    </div>
                </form>
            </div>
            <div class="nav-cuotas">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <p>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>
        <nav class="segunda-barra">
            <ul class="left-nav">
                <li><a href="#" class="link">Ofertas</a></li>
                <li><a href="#" class="link">Tiendas Oficiales</a></li>
                <li><a href="#" class="link">Vender</a></li>
                <li><a href="#" class="link">Ayuda</a></li>
                
                
            </ul>
            <br>
            <ul class="rigth-nav">
                <li><a href="/register" class="link">Crea tu cuenta</a> <i class="fa-solid fa-id-card"></i></li>
                <li><a href="/login" class="link">Ingresa</a> <i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#" class="link">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
            </ul>

            
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <div class="banner">
        <img src="/images/banner-home.jpg" alt="">
    </div>
    <main>

        <h3 class="titulos"> Basado en tu última visita</h3>
        <section class="ListaProductos">
            <article class="producto">
                <div class="producto-imagen">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="">
                </div>
                <div class="producto-datos">
                    <div class="iconoCarrito">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="producto-precio">$6.770</p>
                    <p class="producto-descuento">40% OFF</p>
                    
                </div>
                <div>
                    <br>
                    <p class="producto-nombre">Cafetera Moulinex</p>
                </div>

            </article>
            <article class="producto">
                <div class="producto-imagen">
                    <img src="/images/img-macbook-pro-2019.jpg" " alt="">
                </div>
                <div class=" producto-datos">
                    <div class="iconoCarrito">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="producto-precio">$230.000
                    <p class="producto-descuento">20% OFF</p>
                </div>
                <div>
                    <br>
                    <p class="producto-nombre">MacBook Pro 2019</p>
                </div>
            </article>
            <article class="producto">
                <div class="producto-imagen">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                </div>
                <div class="producto-datos">
                    <div class="iconoCarrito">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="producto-precio">$70.500</p>
                    <p class="producto-descuento">10% OFF</p>

                </div>
                <div>
                    <br>
                    <p class="producto-nombre">Samsung Galaxy S10</p>
                </div>
            </article>
            <article class="producto">
                <div class="producto-imagen">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="">
                </div>
                <div class="producto-datos">
                    <div class="iconoCarrito">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="producto-precio">$23.200</p>
                    <p class="producto-descuento">5% OFF</p>
                </div>
                <div>
                    <br>
                    <p class="producto-nombre">SmartTv Samsung 43</p>
                </div>
            </article>

        </section>
        <h3 class="titulos"> Ofertas</h3>
        <section class="ListaProductos">
            <article class="producto">
                <div class="producto-imagen">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="">
                </div>
                <div class="producto-datos">
                    <div class="iconoCarrito">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="producto-precio">$6.770</p>
                    <p class="producto-descuento">40% OFF</p>
                    
                </div>
                <div>
                    <br>
                    <p class="producto-nombre">Cafetera Moulinex</p>
                </div>

            </article>
            <article class="producto">
                <div class="producto-imagen">
                    <img src="/images/img-macbook-pro-2019.jpg" " alt="">
                </div>
                <div class=" producto-datos">
                    <div class="iconoCarrito">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="producto-precio">$230.000
                    <p class="producto-descuento">20% OFF</p>
                </div>
                <div>
                    <br>
                    <p class="producto-nombre">MacBook Pro 2019</p>
                </div>
            </article>
            <article class="producto">
                <div class="producto-imagen">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                </div>
                <div class="producto-datos">
                    <div class="iconoCarrito">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="producto-precio">$70.500</p>
                    <p class="producto-descuento">10% OFF</p>

                </div>
                <div>
                    <br>
                    <p class="producto-nombre">Samsung Galaxy S10</p>
                </div>
            </article>
            <article class="producto">
                <div class="producto-imagen">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="">
                </div>
                <div class="producto-datos">
                    <div class="iconoCarrito">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="producto-precio">$23.200</p>
                    <p class="producto-descuento">5% OFF</p>
                </div>
                <div>
                    <br>
                    <p class="producto-nombre">SmartTv Samsung 43</p>
                </div>
            </article>

        </section>
    </main>
    <footer>
        <div class="textos">
            <i class="fa-solid fa-credit-card icono-azul"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="textos">
            <i class="fa-solid fa-gift icono-azul"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="textos">
            <i class="fa-solid fa-user-shield fa-md icono-azul "></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </div>
        <div class="textos">
            <h6>Copyright © 1999-2020 MercadoLiebre S.R.L.</h6  >

        </div>
    </footer>
</body>

</html>